* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

#heading {
  color: red;
}

.mm {
  color: green;
}

.header {
  display: flex;
  justify-content: space-between;
  border: 1px solid red;
}

.logo {
  width: 80px;
}

.nav_items {
  padding-right: 20px;
}
.nav_items > ul {
  display: flex;
  list-style-type: none;
}

.nav_items > ul > li {
  padding: 5px 20px;
}

.res_card {
  display: flex;
  flex-direction: column;
  width: 200px;
  min-height: 240px;
  border: 2px solid red;
  border-radius: 10px;
  padding: 5px;
  cursor: pointer;
  /* align-items: center; */
  /* text-align: justify; */
}

.res_card > div > a > img {
  width: 190px;
  margin: auto;
}

.search {
  padding: 10px;
}

.res_container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.filter_btn {
  margin: 5px;
}

.simmer_container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.simmer_card {
  width: 200px;
  min-height: 240px;
  margin: 5px;
  border: 2px solid red;
  border-radius: 10px;
  background-color: rgb(247, 247, 247);
}

.login {
  border-radius: 4px;
  padding: 3px 5px;
}

ul > li > a {
  text-decoration: none;
}

.aaa {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.aaa > div {
  border: 1px solid red;
  border-radius: 5px;
  margin: 10px;
  padding: 10px;
  width: 250px;
  min-height: 250px;
}

.aaa > div > img {
  width: 220px;
  margin: 3px;
  border-radius: 10px;
}

.user_crad{
  padding: 10px;
  border: 1px solid red;
}
